## The supported directives are
## procDir, ignoredPrefix, interval and dbFile
##
## procDir takes 1 parameter which is a path to the proc direcotry
##
## ignoredPrefix takes no parameter and has children that specify a path
## (or whatever prefix) that will be ignored during the collection of your data
##
## interval is the time in seconds between each data collection
##
## dbFile is the database file to write to. The format of this file is in a
## simple name-value pair separated by space and the name having special
## characters escaped.
##
##
## The example configuration below is the default that's hardcoded into the program.
## Changing the file found in /etc or /usr/local/etc will not change the
## defaults and are only meant as an example to the user.
##
## Instead change your own config in $XDG_CONFIG_HOME/spy/config

interval 2

ignoredPrefix {
	"anon_inode"
	"/memfd"
	"/root"
	"/home"
	"/proc"
	"/dev"
	"/tmp"
}

procDir "/proc"

## dbFile $XDG_DATA_HOME/spy/db
## The dbFile is equivalent to this expanded form.
## However any paths defined here are taken literally without any expanding
## (e.g ~ is not expanded to /home/user and $XDG_DATA_HOME is not expanded to
## /home/user/.local/share)
